*{
    margin: 0px;
    padding: 0%;

    --primary: #FF0000;
    --secondry: #2D3142;
    --color-3: #FFF8E4;
    --color-4: #FCD581;

    
}





/*  nav bar */
.custom-navbar{
  background-color: #FFFFFF;
}
/* Home Carosal */

#carouselExampleIndicators{
  height: 80vh;
  overflow: hidden;
}
.carousel-inner{
  height: 100%;

}
.carousel-item{
  height: 100%;
}

carousel-item img {
  object-fit: cover; 
  height: 100%; 
}



/* Join us & read more  */
.maincarosal {
  
    padding-left: 450px;
    margin-bottom: 50px;


}#qot {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

#fitclr {
  color: red;
  font-weight: bold;
}

button {
  border-radius: 8px;
  padding: 05px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#btn1 {
  background-color: #4CAF50;
  color: white;
  margin-right: 10px;
  margin-left: 20px;
}

#btn1 a {
  color: white;
  text-decoration: none;
}

#btn1:hover {
  background-color:rgb(50, 55, 42);
}

#btn_signin {
  background-color: #4CAF50;
  color: white;
}

#btn_signin:hover {
  background-color: rgb(50, 55, 42);
}

.sticky-top{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#btn_signin{
  
border-radius: 8px;
 border-color: rgb(56, 62, 48); 
 height: 41px;
}
/*  about us text   */
#abtus{
  color: rgb(11, 0, 0);
}
.counter1 h2{
    font-size: 60px;
   
}
.counter2{
    padding: 70px  100px 70px;
} 
.counter3{
    padding: 70px 100px 70px;
}

#sec{
    padding: 70px 100px 70px;
    background-color: firebrick;
}
.h3, h3 {
    font-weight: bold;
    font-size: 2rem;
    color: linen;
}
/* counter */

.counter {
  background-color: #FFF8E8;
  text-align: center;
  padding: 50px 0;
}
.counter h2 {
  font-size: 3em;
  margin: 0;
}
.counter h4 {
  font-size: 1.5em;
  color: #666;
}
/* champion Instructor */
#chmIns{
  color: rgb(11, 0, 0);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: lightcoral;
}
/* Gallerys */
.pic .container .row .col img,
.pic .container .row .col video {
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic .container .row .col img:hover,
.pic .container .row .col video:hover {
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Register form */
.bio {
  padding: 20px 100px 20px;
  background-image: url('images/join.jpg ');

}

.bio .container {
  max-width: 600px; /* Adjust width as needed */
  margin: 0 auto;
}

.bio form {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
}

.bio form label {
  font-weight: bold;
}

.bio form input[type="text"],
.bio form input[type="email"],
.bio form select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bio form select {
  appearance: none; /* Remove default select styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000000' width='18px' height='18px'%3e%3cpath d='M7 10l5 5 5-5H7z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
}

.bio form .btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #dc3545; 
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.bio form .btn:hover {
  background-color: #4CAF50; 
}

.bio form .vacancy-message {
  margin-top: 10px;
  font-weight: bold;
}
/* About US */


.About {
  background-image: url('images/p3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.About .col {
  height: 400px;
  width: 100%;
}

.About .row {
  margin-left: 0;
  margin-right: 0;
  background-color: #111111;
  opacity: 0.7;
}

.page-title {
  margin: auto;
  margin-top: 10%;
  text-align: center;
  color: white;
}

.section-title-2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #29282d;
  padding: 20px 0;
  margin: 0;
}

.text-side {
  padding: 20px 50px 20px 0;
}

.text-side h3::before,
.about-heading::after {
  content: " ";
  border: 2px solid red;
  display: block;
  width: 10%;
  margin: 10px 0;
}

.progress-bar .bar {
  background-color: rgb(187, 187, 187);
  border-radius: 10px;
}

.progress-bar .bar-inner {
  background-color: rgb(255, 67, 67);
  border-radius: 10px;
  animation-name: Gym;
  animation-duration: 2s;
}

.progress-bar {
  background-color: white;
  padding: 10px 0 10px;
  font-size: 10px;
}

.progress-bar .bar-2 {
  background-color: rgb(187, 187, 187);
  border-radius: 10px;
}

.progress-bar .bar-inner-2 {
  background-color: rgb(255, 67, 67);
  border-radius: 10px;
  animation-name: Yoga;
  animation-duration: 2s;
}

.progress-bar .bar-3 {
  background-color: rgb(187, 187, 187);
  border-radius: 10px;
}

.progress-bar .bar-inner-3 {
  background-color: rgb(255, 67, 67);
  border-radius: 10px;
  animation-name: Warmup;
  animation-duration: 2s;
}

@keyframes Gym {
  from {width: 0%; height: 20%;}
  to {width: 75%; height: 20%;}
}

@keyframes Yoga {
  from {width: 0%;}
  to {width: 85%;}
}

@keyframes Warmup {
  from {width: 0%;}
  to {width: 82%;}
}

#join {
  background-color: #4CAF50;
  color: white;
  margin-right: 10px;
}

#join a {
  color: white;
  text-decoration: none;
}

#join:hover {
  background-color:rgb(50, 55, 42);
}

.section-2-img .image-container {
  position: relative;

}

.section-2-img .image-container::before {
  content: "";
  background: #c23c3c;
  opacity: 1;

  
}

.animation .line {
  z-index: 1;
  float: left;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  border-right: 2px solid red;
  animation: moveLine 3s ease-in-out infinite;
}

.line.one { top: 0; left: 25%; }
.line.two { top: 0; left: 50%; }
.line.three { top: 0; }

.animation-back .line{
  z-index: 0;
  float: left;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  border-right: 2px solid rgb(224, 224, 224);
}

@keyframes moveLine {
  from{top :0%; height :25%}
  to{top:75%; height: 25%;}

}
.section-3 .row .col h3{
  margin: auto;
  text-align: center;
  font-size: 40px;
  padding: 0px 270px 0px;
  font-weight: bold;

}

.section-3 .row .col h3::before{

  content: " ";
  border: 2px solid red;
  display: block;
  width: 10%;
  margin: auto;
  margin-bottom: 20px;
  
}
/*  In about us courasoul  */
.main{
  padding: 70px 100px 70px;
}
.logos-slide {
  white-space: nowrap;
  animation: 20s slide infinite linear;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide img {
  height: 60px;
  margin: 0 50px;
}

.card {
white-space: wrap;
min-width: 400px;
margin: 0 10px;
}

@keyframes slide {
from{
   transform: translateX(0);
}

to {
 transform: translateX(-100%);
}
}


/* Testimonial carosal */

.section-padding {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-borders span {
  height: 5px;
  background: #6aaf08;
  width: 40px;
  display: inline-block;
  border-radius: 2px;
}

.section-borders span.black-border {
  background: #333;
  width: 30px;
  margin: 0 6px;

}

.client-testimonial-carousel .owl-dots button {
  height: 5px;
  background: #6aaf08 !important;
  width: 20px;
  display: inline-block;
  margin: 5px;
  transition: .2s;
  border-radius: 2px;
}

.client-testimonial-carousel button.owl-dot.active {
  background: #000 !important;
  width: 30px;
}

.client-testimonial-carousel .owl-dots {
  text-align: center;
  margin-top: 25px
}

.single-testimonial-item {
  position: relative;
  box-shadow: 0 0 2px #dadfd3;
  margin: 2px;
  padding: 20px;
  font-style: italic;
  padding-left: 85px;
}

.single-testimonial-item:before {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 900;
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 20px;
  color: #6aaf08;
  line-height: 30px;
  margin-top: -15px;
}

.single-testimonial-item:after {
  background: #ddd;
  content: "";
  height: 70%;
  left: 60px;
  position: absolute;
  top: 10%;
  width: 1px;
}

.single-testimonial-item h3 {
  font-size: 20px;
  font-style: normal;
  margin-bottom: 0;
}

.single-testimonial-item h3 span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
}

/* About us page end */

/* Classes & Trainer  */
#class {
 padding: 20px 100px 20px;
 
}

#class .paragraph {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

#class .h2 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

/* Card Section */
.classMenu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team {
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
  transition: all 0.3s ease;
}

 .team:hover {
  transform: translateY(-4px);
}

.team .img {
  overflow: hidden;
}

.team .img img {
  width: 100%;
  height: auto;
  display: block;
}

.team .teamDetails {
  padding: 20px;
}

.team .name {
  margin-bottom: 10px;
}

.team .name h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.team .name p {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.team .num h5 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.team .pro p {
  font-size: 14px;
  color: #777;
}



.Tech:hover #c1 ,#c2 {
  transform: translateY(-4px);
}

.Tech .phot #c1 ,#c2{
  overflow: hidden;
}

.Tech:hover #c2 {
  transform: translateY(-4px);
}

.Tech .phot #c2{
  overflow: hidden;
}

/* BMI calcultor  */
.bmi-calculator {
  max-width: 500px;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px double;
  border-radius: 10px;
  max-height: 470px;
  background-color: #FFF8E8;
}
.bmi-calculator h2 {
  text-align: center;
  color: #35383c;
}
.bmi-calculator label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}
.bmi-calculator input[type="number"],
.bmi-calculator select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.bmi-calculator button {
  width: 100%;
  padding: 10px;
  background-color: #aaada3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.bmi-calculator button:hover {
  background-color: #0c2a4b;
}
.bmi-result {
  text-align: center;
  margin-right: 20px;
  color: #333;
}


/* coaches  */
.rounded-oval {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-left: 50px;
}

.shadow{
  background-color: #FFF8E8;
}
.coach1 {
  margin-top: 10px;
}

.card-body {
  padding: 30px;
}
.text-primary {
  color: #474341 !important;
}

.text-secondary {
  color: #474341  !important;
}
/* Login css */
#login {
  margin: 0px;
  font-family: Arial, sans-serif;
  background-color: #2D3142;
}
#login_container{
  display: flex;
  justify-content: center;
  padding: 70px  100px 70px;
}
.login_card {
  display: flex;
  border-radius: 16px;
  background-color: #FFF8E8;

}

.card-body {
  padding: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-outline {
  margin-bottom: 1.5rem;
}
.form-control {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
.form-label {
  font-size: 0.875rem;
}
.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: #2D3142;
}
.h2 {
  font-size: 32px;
  margin-bottom: 60px;
  padding-left: 10px;
}
.small {
  font-size: 0.875rem;
}
.fw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: normal;
} 
